.topBarWrap {
    position: sticky;
    top: -1px;
    z-index: 999;
    width: 100%;
    height: auto;
    background-color: var(--color-light-100);
    .topBar {
        height: 48px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        & > div {
            display: flex;
            align-items: center;

            &:first-child {
                gap: 0 16px;
                a {
                    .ic-inews-tv {
                        width: 32.382px;
                        height: 28.279px;
                        animation: tvAnimate 2.5s linear infinite;
                    }
                    @keyframes tvAnimate {
                        0% {
                            content: url("../img/icon/ic-inews-tv.png");
                        }
                        100% {
                            content: url("../img/icon/ic-inews-tv-active.png");
                        }
                    }
                }

                .app-gateway {
                    position: relative;
                    width: auto;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        width: 112px;
                        height: auto;
                    }
                    .modal-app-gateway {
                        display: none;
                        position: absolute;
                        z-index: 999;
                        top: 43px;
                        left: -88px;
                        width: 370px;
                        height: 182px;
                        background-image: url("../img/pattren-bg.png");
                        background-size: 106%;
                        background-position: center center;
                        transform: translateY(0);
                        opacity: 0;

                        border-radius: 0px 0px 10px 10px;
                        box-shadow: 0px 1px 4px 0px rgba(143, 143, 143, 0.25);
                        align-items: center;
                        gap: 32px;
                        padding: 24px;
                        overflow: hidden;

                        @include media.ipad {
                            left: -122px;
                        }

                        &.modal-app-gateway-open {
                            display: flex;
                            animation: open 0.5s linear forwards;

                            @keyframes open {
                                0% {
                                    opacity: 0;
                                    transform: translateY(0);
                                }
                                100% {
                                    opacity: 1;
                                    transform: translateY(10px);
                                }
                            }
                        }
                        &.modal-app-gateway-close {
                            display: flex;
                            animation: close 0.3s linear reverse forwards;

                            @keyframes close {
                                0% {
                                    opacity: 0;
                                    transform: translateY(0);
                                    display: none;
                                }
                                100% {
                                    opacity: 1;
                                    transform: translateY(10px);
                                }
                            }
                        }
                        .qrcode-app {
                            img {
                                width: 120px;
                                height: 120px;
                                aspect-ratio: 1/1;
                            }
                        }
                        .get-app-wrappp {
                            display: flex;
                            flex-direction: column;
                            gap: 16px;
                            align-items: center;
                            p {
                                cursor: default;
                                text-align: center;
                                color: #000;

                                font-family: "Century Gothic", sans-serif;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                                margin-bottom: 0;
                            }
                            .app-available {
                                display: flex;
                                flex-direction: column;
                                gap: 12px;
                                img {
                                    width: 105px;
                                    height: auto;
                                }
                            }
                        }
                    }
                }
            }
            &:nth-child(2) {
                .searchForm {
                    position: relative;
                    width: clamp(150px, 23vw, 310px);
                    height: 32px;
                    border-radius: 128px;
                    background: var(--color-light-75);
                    border: 1px solid #e3e3e3;
                    overflow: hidden;
                    input {
                        width: 80%;
                        height: 100%;
                        padding: 4px 16px;

                        border: none;
                        background: var(--color-light-75);

                        color: #8c8c8c;
                        font-family: Inter, sans-serif;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%;
                        transition: background-color 0.3s ease;

                        &:focus {
                            outline: none;
                            // background-color: #e3e3e3;
                        }
                    }

                    .btnSearch {
                        cursor: pointer;
                        display: flex;
                        justify-content: end;
                        align-items: center;

                        position: absolute;
                        right: 16px;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 50px;
                        height: 100%;
                    }
                }
                #data-list {
                    display: none;
                    position: absolute;
                    top: 48px;
                    width: clamp(150px, 23vw, 310px);
                    height: auto;
                    background-color: #fff;
                    border-radius: 10px;
                    border: 1px solid #e3e3e3;
                    box-shadow: 15px -1px 31px 10px #8d8d8d40;
                    padding: 20px 16px;
                    .searc-on-keyup {
                        display: none;
                        list-style: none;
                        margin-bottom: 12px;
                        min-height: 60px;
                        width: 100%;
                        list-search {
                            cursor: pointer;
                            display: block;
                            margin: 8px 0;
                            padding: 4px 0;
                            font-family: Inter, sans-serif;
                            font-size: clamp(8px, 1.5vw, 12px);
                            font-weight: 400;
                            line-height: 18px;
                            color: #171717;
                            width: 100%;
                        }
                    }
                    .recent-search {
                        list-style: none;
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                        margin-bottom: 12px;
                        width: 100%;
                        overflow: hidden;
                        .list-title {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            font-family: Inter, sans-serif;
                            font-size: clamp(12px, 1.5vw, 14px);
                            font-weight: 700;
                            line-height: 21px;
                            color: #171717;
                            margin-bottom: 12px;
                            #clear-recent {
                                cursor: pointer;
                                color: #990100;
                                font-weight: 500;
                            }
                        }
                        .list-search {
                            cursor: pointer;
                            padding: 4px 0;
                            font-family: Inter, sans-serif;
                            font-size: clamp(8px, 1.5vw, 12px);
                            font-weight: 400;
                            line-height: 18px;
                            color: #171717;
                            display: flex;
                            justify-content: space-between;
                            .recent-search-text {
                                width: 80%;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                            .remove-recent {
                                content: url(../img/icon/ic-remove-search.svg);
                                width: 16px;
                                height: 16px;
                            }
                        }
                    }
                    .trending-topic {
                        list-style: none;
                        display: flex;
                        flex-wrap: wrap;
                        gap: 8px;
                        .list-title {
                            display: block;
                            width: 100%;
                            font-family: Inter, sans-serif;
                            font-size: clamp(12px, 1.5vw, 14px);
                            font-weight: 700;
                            line-height: 21px;
                            color: #171717;
                            margin-bottom: 4px;
                        }
                        .list-search {
                            cursor: pointer;
                            padding: 4px 8px;
                            font-family: Inter, sans-serif;
                            font-size: clamp(8px, 1.5vw, 12px);
                            font-weight: 400;
                            line-height: 18px;
                            border: 0.5px solid #171717;
                            border-radius: 20px;
                            color: #171717;

                            .ic-hot-search {
                                content: url(../img/icon/ic-hot-search.svg);
                                width: 7.5px;
                                height: auto;
                            }
                        }
                    }
                }
            }
            &:last-child {
                gap: 0 24px;
                .loginSection {
                    position: relative;
                    .btnLogin {
                        display: flex;
                        align-items: center;
                        gap: 0 8px;
                        font-family: Inter-Bold, sans-serif;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 21px;
                        color: var(--color-dark-0);
                        .ic-login {
                            content: url("../img/icon/ic-user.png");
                            width: 24px;
                            height: 24px;
                        }

                        &.hide {
                            display: none;
                        }
                    }
                }
                .networkNav {
                    display: flex;
                    align-items: center;
                    .ic-news-network {
                        content: url("../img/icon/ic-inews-network.png");
                        width: 32px;
                        height: 32px;
                    }
                    .dropDownBtn {
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        padding: 10px 0;
                        .networkLabel {
                            font-family: Inter, sans-serif;
                            font-size: 14px;
                            font-weight: 700;
                            font-style: normal;
                            line-height: 21px;
                            color: var(--color-dark-50);
                        }
                        .ic-dropdown-network {
                            content: url("../img/icon/ic-drop-down.png");
                            width: 18px;
                            height: 21px;
                        }
                    }
                }
                #burgerBtn {
                    cursor: pointer;
                    .ic-burger-btn {
                        content: url("../img/icon/ic-burger-btn.png");
                        width: 32px;
                        height: 32px;
                    }
                }
            }
        }
    }
}
header {
    width: 100%;
    position: relative;
    z-index: 99;
    background-color: #fff;
    .header {
        height: 98px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0 16px;
        .brand {
            width: auto;
            height: 55px;
            img {
                width: auto;
                height: 55px;
                object-fit: contain;
            }
        }
        .adsHeader {
            display: flex;
            align-items: center;
            width: clamp(400px, 100%, 720px);
            height: 100%;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center center;
            }
        }
    }
}
