#widgetPialaAsia {
    .widget-network {
        width: 100%;
        height: auto;
        float: left;
        background: #fff;
        margin-bottom: 20px;
        .widget-network-bg {
            float: left;
            width: 100%;

            a img {
                width: 100%;
            }
        }
        .widget-item {
            float: left;
            width: 262px;
            margin: 15px 12px 0 12px;
            padding-bottom: 15px;
            border-bottom: 1px solid;
            border-color: rgba(196, 196, 196, 0.5);
            a {
                display: flex;
                .widget-item-img {
                    // float: left;
                    // width: 110px;
                    img {
                        width: clamp(70px, 8vw, 110px);
                        aspect-ratio: 4/3;
                        object-fit: cover;
                    }
                }
                .widget-item-isi {
                    // float: left;
                    // width: 150px;
                    padding-left: 12px;

                    p {
                        margin: 0;
                        font-family: Inter, sans-serif;
                        font-size: 14px;
                        line-height: 18px;
                        font-weight: 700;
                        color: #000;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 4;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        font-style: normal;
                    }
                }
            }
            .widget-item-more {
                width: 100px;
                margin: 0 auto;
                background: #7d2450;
                border-radius: 32px;

                color: #fff;
                padding: 5px 10px;
                text-align: center;
                a {
                    display: block;
                    font-family: Inter-Regular, sans-serif;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 20px;
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
        .no-border {
            border: 0 !important;
            width: 100%;
            // margin: unset;
        }
    }
}
