.widget__col {
    width: 100%;
    .widgetHeader__col {
        display: flex;
        flex-direction: row;
        gap: 0 8px;
        align-items: center;
        margin-bottom: 16px;
        margin-top: 32px;
        .widgetTitle {
            font-family: Inter-Bold, sans-serif;
            font-style: normal;
            font-weight: 700;
            line-height: 150%;
            color: $color-dark-100;
        }
        .seeAll {
            font-family: Inter, sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            color: $color-black;
            margin-left: auto;
        }
    }
    .widgetBody__col {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        border-radius: 12px;
        padding: 16px;
        background-color: $color-light-50;
        box-shadow: 0px 6px 12px rgba(28, 39, 49, 0.05);
        &.bg-none {
            background-color: transparent;
            box-shadow: none;
        }
    }
}
