@use "media";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Inter;
    src: url("../../assets/fonts/Inter/static/Inter-Regular.woff2"), format("woff2"),
        url("../../assets/fonts/Inter/static/Inter-Regular.ttf"), format("truetype");
}
@font-face {
    font-family: Inter-Bold;
    src: url("../../assets/fonts/Inter/static/Inter-Bold.woff2"), format("woff2"),
        url("../../assets/fonts/Inter/static/Inter-Bold.ttf"), format("truetype");
}

:root {
    scrollbar-width: thin;
    scrollbar-color: var(--color-dark-25, #0d0d0d) var(--color-light-100);

    --color-red: #d80605;
    --color-white: #fff;
    --color-black: #2d2d2a;
    --color-maroon: #8a0100;
    --color-grey: #aeaeae;

    --color-dark-100: #0b0b0b;
    --color-dark-75: #171717;
    --color-dark-50: #2d2d2a;
    --color-dark-25: #3d3d3d;
    --color-dark-0: #525252;

    --color-grey-100: #8c8c8c;
    --color-grey-75: #9a9a9a;
    --color-grey-50: #aeaeae;
    --color-grey-25: #bababa;
    --color-grey-0: #d1d1d1;

    --color-light-100: #fff;
    --color-light-75: #fafafa;
    --color-light-50: #f4f4f4;
    --color-light-25: #ebebeb;
    --color-light-0: #e3e3e3;

    --color-red-100: #bd0100;
    --color-red-75: #c80201;
    --color-red-50: #d80605;
    --color-red-25: #ff8383;
    --color-red-0: #ffb9b9;
    --color-red-light: #fee0e0;

    --color-maroon-100: #4e0909;
    --color-maroon-75: #630a0a;
    --color-maroon-50: #8a0100;
    --color-maroon-25: #990100;

    --color-link: #00bfff;
}

body {
    font-family: Inter, sans-serif;
    scroll-behavior: smooth;
    min-height: 100vh;
    scrollbar-color: var(--color-red-75) var(--color-dark-25);
    background-color: var(--color-white) !important;
}

h1 {
    font-size: clamp(24px, 3vw, 32px);
    font-style: normal;
    font-weight: 700;
    line-height: 51.2px;
}
h2 {
    font-size: clamp(20px, 2vw, 24px);
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}
h3 {
    font-size: clamp(18px, 1.5vw, 20px);
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}
h4 {
    font-size: clamp(14px, 1.5vw, 16px);
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}
h5 {
    font-size: clamp(12px, 1.5vw, 14px);
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}
p {
    font-size: clamp(14px, 1.5vw, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: 25.6px;
}
a {
    color: var(--color-link);
    text-decoration: none;
    display: block;
}
button {
    background-color: transparent;
    border: none;
}

.modalContainer {
    background: rgba(33, 33, 33, 0.6);
    /* BackgroundBlur - M */
    backdrop-filter: blur(7.5px);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
}

section {
    &.mainHeadline {
        flex-shrink: 0;
        width: 100%;
        height: auto;
        margin: 24px 0 16px;
    }
    &.mainBody {
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        gap: 0px 20px;
    }
}

main {
    &.sideRight {
        width: 68%;
        height: auto;
    }
    &.sideLeft {
        width: 68%;
        height: auto;
    }
}
aside {
    &.sideRight {
        width: calc(32% - 20px);
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 32px 0;
        overflow: hidden;
    }
    &.sideLeft {
        width: calc(32% - 20px);
        height: auto;
    }
}

@include media.ipad {
    .container {
        width: 100%;
        padding: 0 clamp(2rem, 5vw, 128px);
    }
}

@include media.desktop {
    .container {
        width: 1024px;
        margin: auto;
    }
}
