$color-red: #de2027;
$color-white: #fff;
$color-black: #2d2d2a;
$color-maroon: #8a0100;
$color-grey: #aeaeae;

$color-dark-100: #0d0d0d;
$color-dark-75: #0d0d0d;
$color-dark-50: $color-black;
$color-dark-25: #343434;
$color-dark-0: #595959;

$color-gray-100: #8c8c8c;
$color-gray-75: #9a9a9a;
$color-gray-50: $color-grey;
$color-gray-25: #bababa;
$color-gray-0: #d1d1d1;

$color-light-100: $color-white;
$color-light-75: #fafafa;
$color-light-50: #f4f4f4;
$color-light-25: #ebebeb;
$color-light-0: #e3e3e3;

$color-red-100: #bd0100;
$color-red-75: #d40403;
$color-red-50: $color-red;
$color-red-25: #ff8383;
$color-red-0: #ffb9b9;

$color-maroon-100: #4e0909;
$color-maroon-75: #630a0a;
$color-maroon-50: $color-maroon;
$color-maroon-25: #990100;

$color-link: #00bfff;
