@use "media";
@import "global";

// Molecules
@import "molecules/navigation-main";
@import "molecules/header";
@import "molecules/footer";
@import "molecules/burger-menu";
@import "molecules/network-dropdown";

// Atomic
@import "./atomic/sr-only";
@import "atomic/sso-login";
@import "atomic/hidden";
@import "atomic/sticky-ads";
@import "atomic/alert-sso";
@import "atomic/back-to-top";

#about-page,
#browser-setting-page,
#mitra-page {
    header {
        position: sticky;
        top: 46px;
        box-shadow: 0px 6px 12px 0px #1c27310d;
    }
    .mainBody {
        margin-top: 40px;
        aside {
            &.sideLeft {
                .listMenuAbout {
                    position: sticky;
                    top: 170px;
                    width: auto;
                    height: auto;
                    border-radius: 16px;
                    background-color: var(--color-light-75);
                    list-style: none;
                    .listMenu {
                        padding: 12px 20px;
                        border-bottom: 1px solid var(--color-light-25);
                        &:last-child {
                            border-bottom: unset;
                        }
                        a {
                            color: var(--color-black);
                            font-family: Inter-Bold, sans-serif;
                            font-size: clamp(14px, 1.2vw, 18px);
                            font-style: normal;
                            font-weight: 700;
                            line-height: 160%; /* 28.8px */
                            transition: color 0.3s ease-in-out;
                        }
                        &:hover {
                            a {
                                color: var(--color-maroon);
                            }
                        }
                        &.active {
                            a {
                                color: var(--color-maroon);
                            }
                        }
                    }
                }
            }
        }
        main {
            &.sideRight {
                &.browserSettings {
                    margin: auto;
                    width: 90%;
                    .about-content {
                        p {
                            &:not(:first-child) {
                                margin-bottom: 0px;
                                margin-top: 10px;
                            }
                        }
                        section {
                            &.accordion {
                                margin-bottom: 4px;
                                margin-top: 0px;
                                width: 100%;
                                height: auto;
                                .accordion__header {
                                    width: 100%;
                                    height: auto;
                                    display: flex;
                                    justify-content: space-between;
                                    margin-bottom: 2px;
                                    .title {
                                        font-family: Inter, sans-serif;
                                        font-size: 14px;
                                        font-weight: 400;
                                        line-height: 30px;
                                        color: var(--color-dark-50);
                                        &.platform {
                                            padding-left: 10px;
                                        }
                                    }
                                    .dropdown {
                                        cursor: pointer;
                                        padding: 2px;
                                        img {
                                            transform: rotate(180deg);
                                            transition: transform 0.3s ease-in-out;
                                        }

                                        &.active {
                                            img {
                                                transform: rotate(0deg);
                                            }
                                        }
                                    }
                                }
                                .accordion__body {
                                    display: none;
                                    width: 100%;
                                    height: max-content;
                                    overflow: hidden;
                                    border-bottom: none;
                                    &.show {
                                        height: max-content;
                                        border: none;
                                        display: block;
                                    }
                                    ul {
                                        list-style-position: outside;
                                        list-style-type: disc;
                                        li {
                                            margin-left: 30px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &.sitemap {
                    margin: auto;
                    width: 90%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .about-content {
                        &.sitemapWrapp {
                            height: max-content;
                            float: left;
                            .col-md-3 {
                                width: calc((100% / 4));
                                height: auto;
                                float: left;
                                @include media.ipad {
                                    width: calc(100% / 2);
                                }
                                &:last-child {
                                    width: max-content;
                                }
                                &:nth-child(3) {
                                    width: max-content;
                                }
                                h3 {
                                    a {
                                        color: var(--color-red);
                                    }
                                }
                                .sitemap {
                                    li {
                                        list-style-position: inside;
                                        padding-left: 20px;
                                        a {
                                            display: inline-block;
                                            color: var(--color-black);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .backdrop-wrapper {
                    position: relative;
                    width: 100%;
                    height: auto;
                    .titleSection {
                        position: absolute;
                        top: 40px;
                        left: 50%;
                        transform: translateX(-50%);

                        font-family: Inter-Bold, sans-serif;
                        font-size: clamp(24px, 2.4vw, 32px);
                        font-weight: 700;
                        line-height: 48px;
                        color: var(--color-white);
                        width: 100%;
                        text-align: center;
                    }
                    img {
                        width: 100%;
                        height: auto;
                        object-fit: contain;
                    }
                }
                .about-content {
                    position: relative;
                    top: -46px;
                    z-index: 1;
                    width: 96%;
                    height: auto;
                    background-color: var(--color-white);
                    box-shadow: 0px 4px 15px 0px rgba(205, 205, 205, 0.2509803922);
                    border-radius: 8px;
                    margin: auto;
                    padding: 24px;

                    &.redaksi {
                        top: unset;
                        box-shadow: unset;
                        padding: unset;
                        section {
                            &.accordion {
                                margin: 24px 0;
                                width: 100%;
                                height: auto;
                                .accordion__header {
                                    width: 100%;
                                    height: auto;
                                    display: flex;
                                    justify-content: space-between;
                                    margin-bottom: 16px;
                                    .title {
                                        font-family: Inter-Bold, sans-serif;
                                        font-size: 20px;
                                        font-weight: 700;
                                        line-height: 30px;
                                        color: var(--color-dark-50);
                                    }
                                    .dropdown {
                                        cursor: pointer;
                                        padding: 2px;
                                        img {
                                            transform: rotate(180deg);
                                            transition: transform 0.3s ease-in-out;
                                        }

                                        &.active {
                                            img {
                                                transform: rotate(0deg);
                                            }
                                        }
                                    }
                                }
                                .accordion__body {
                                    display: none;
                                    width: 100%;
                                    height: max-content;
                                    overflow: hidden;
                                    border-bottom: 1px solid #e3e3e3;
                                    &.show {
                                        height: max-content;
                                        border: none;
                                        display: block;
                                    }
                                    .cardRedaksi {
                                        position: relative;
                                        display: flex;
                                        flex-direction: row;
                                        justify-content: start;
                                        background: #f5f5f5;
                                        box-shadow: 0px 2px 6px 0px #1c273114;
                                        padding: 0 clamp(16px, 2vw, 22px);
                                        float: left;
                                        width: calc(50% - 16px);
                                        height: 129px;
                                        margin: 8px;
                                        border-radius: 5px;
                                        .profile {
                                            display: flex;
                                            flex-direction: row;
                                            gap: 8px;
                                            align-items: center;
                                            .profile__img {
                                                flex-shrink: 0;
                                                width: clamp(40px, 3vw, 60px);
                                                height: clamp(40px, 3vw, 60px);
                                                border-radius: 50%;
                                                overflow: hidden;
                                                img {
                                                    width: 100%;
                                                    height: 100%;
                                                    object-fit: cover;
                                                    object-position: top center;
                                                }
                                            }
                                            .profile_detail {
                                                display: flex;
                                                flex-direction: column;
                                                gap: 8px;
                                                .profile__title {
                                                    color: #525252;
                                                    //styleName: Dekstop/Text & Button/14px - Regular;
                                                    font-family: Inter, sans-serif;
                                                    font-size: clamp(8px, 1.2vw, 12px);
                                                    font-weight: 400;
                                                    line-height: 16.94px;
                                                }
                                                .profile_name {
                                                    //styleName: Dekstop/Body Text/16px - Bold - 150%;
                                                    font-family: Inter-Bold, sans-serif;
                                                    font-size: clamp(12px, 1.2vw, 16px);
                                                    font-weight: 700;
                                                    line-height: 24px;
                                                    text-align: left;
                                                }
                                                .article-created {
                                                    margin-top: -4px;
                                                    font-family: Inter, sans-serif;
                                                    font-size: clamp(8px, 1vw, 14px);
                                                    font-weight: 400;
                                                    line-height: 18px;
                                                    color: var(--color-dark-50);
                                                    .number {
                                                        font-family: Inter-Bold, sans-serif;
                                                        color: var(--color-red);
                                                        font-weight: 700;
                                                    }
                                                }
                                            }
                                        }
                                        &.pimpinanRedaksi {
                                            width: calc(50% - 16px);
                                            height: 417px;
                                            flex-direction: column;
                                            justify-content: center;
                                            .profile {
                                                display: flex;
                                                flex-direction: column;
                                                gap: 8px;
                                                align-items: center;
                                                .profile__img {
                                                    width: 100px;
                                                    height: 100px;
                                                    border-radius: 50%;
                                                    overflow: hidden;
                                                    img {
                                                        width: 100%;
                                                        height: 100%;
                                                        object-fit: cover;
                                                        object-position: top center;
                                                    }
                                                }
                                                .profile_detail {
                                                    flex-direction: column;
                                                    align-items: center;
                                                    .profile__title {
                                                        width: max-content;
                                                        padding: 4px 8px 4px 8px;
                                                        gap: 10px;
                                                        border-radius: 4px;
                                                        opacity: 0px;
                                                        background-color: #de2027;
                                                        color: var(--color-white);

                                                        font-family: Inter, sans-serif;
                                                        font-size: 14px;
                                                        font-weight: 400;
                                                        line-height: 16.94px;
                                                    }
                                                    .profile_name {
                                                        font-family: Inter-Bold, sans-serif;
                                                        font-size: 16px;
                                                        font-weight: 700;
                                                        line-height: 24px;
                                                        text-align: left;
                                                    }
                                                    .article-created {
                                                        margin-top: -4px;
                                                    }
                                                }
                                            }
                                        }
                                        &.pembina {
                                            width: 100%;
                                            height: 210px;
                                            flex-direction: column;
                                            justify-content: center;
                                            float: unset;
                                            .element-obj-L {
                                                position: absolute;
                                                left: 0;
                                                top: 0;
                                            }
                                            .element-obj-R {
                                                position: absolute;
                                                right: 0;
                                                top: 0;
                                            }
                                            .profile {
                                                display: flex;
                                                flex-direction: column;
                                                gap: 8px;
                                                align-items: center;
                                                .profile__img {
                                                    width: 100px;
                                                    height: 100px;
                                                    border-radius: 50%;
                                                    overflow: hidden;
                                                    img {
                                                        width: 100%;
                                                        height: 100%;
                                                        object-fit: cover;
                                                        object-position: top center;
                                                    }
                                                }
                                                .profile_detail {
                                                    flex-direction: column;
                                                    align-items: center;
                                                    .profile__title {
                                                        width: max-content;
                                                        padding: 4px 8px 4px 8px;
                                                        gap: 10px;
                                                        border-radius: 4px;
                                                        opacity: 0px;
                                                        background-color: #de2027;
                                                        color: var(--color-white);

                                                        //styleName: Dekstop/Text & Button/14px - Regular;
                                                        font-family: Inter, sans-serif;
                                                        font-size: 14px;
                                                        font-weight: 400;
                                                        line-height: 16.94px;
                                                    }
                                                    .profile_name {
                                                        //styleName: Dekstop/Body Text/16px - Bold - 150%;
                                                        font-family: Inter-Bold, sans-serif;
                                                        font-size: 16px;
                                                        font-weight: 700;
                                                        line-height: 24px;
                                                        text-align: left;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    p {
                        font-family: Inter, sans-serif;
                        font-size: clamp(12px, 1.2vw, 14px);
                        font-weight: 400;
                        line-height: 22px;
                        margin-bottom: 24px;
                        color: var(--color-black);
                        &.p-termOfService {
                            margin-bottom: 0px;
                        }
                        a {
                            color: var(--color-black);
                            text-decoration: underline;
                        }
                    }
                    ol {
                        &.termOfService {
                            margin-bottom: 24px;
                            li {
                                font-family: Inter, sans-serif;
                                font-weight: 400;
                                margin-bottom: 0;
                            }
                        }

                        &.disclimer {
                            li {
                                margin-bottom: 0px;
                                p {
                                    margin-bottom: 0px;
                                }
                            }
                        }
                        li {
                            font-family: Inter-Bold, sans-serif;
                            font-size: clamp(12px, 1.2vw, 14px);
                            font-weight: 700;
                            line-height: 22px;
                            margin-bottom: 24px;
                            color: var(--color-black);
                            padding-left: 4px;
                            margin-left: 14px;
                            ol {
                                li {
                                    margin-left: 0;
                                    font-family: Inter, sans-serif;
                                    font-size: clamp(12px, 1.2vw, 14px);
                                    font-weight: 400;
                                    line-height: 22px;
                                    margin-bottom: 0px;
                                    color: var(--color-black);
                                    ol {
                                        li {
                                            list-style: lower-alpha;
                                            margin-left: 14px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .bannerMitra {
                        width: 100%;
                        height: auto;
                        object-fit: contain;
                        overflow: hidden;
                        border-radius: 12px;
                        margin-bottom: 24px;
                    }
                    .joinAction{
                        margin: 0 auto;
                        width: max-content;
                        height: auto;
                        margin-top: 24px;
                        display: flex;
                        flex-direction: column;
                        gap: 24px;
                        .btn-join{
                            width: max-content;
                            padding: 16px;
                            background-color: #000;
                            border-radius: 10px;
                            color: #fff;
                        }
                        .share{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding: 0 16px;

                            .iconShare {
                                position: relative;
                                display: flex;
                                align-items: center;
                                gap: 0 16px;
                                #linkShare {
                                    cursor: pointer;
                                    .ic-link-share-2 {
                                        display: block;
                                        content: url("../img/icon/ic-link-share.png");
                                        width: 32px;
                                        height: 32px;
                                        &:hover {
                                            content: url("../img/icon/ic-link-share-active.png");
                                        }
                                    }
                                    #copied-2 {
                                        display: none;
                                        opacity: 0;
                                        position: absolute;
                                        top: 40px;
                                        left: -45px;
                                        background-color: rgba(var(--color-dark-100), 0.9);
                                        padding: 4px 16px;
                                        border-radius: 32px;
                                        color: #fff;
                                        text-align: center;
                                        font-size: 16px;
                                        font-style: normal;
                                        font-weight: 500;
                                        line-height: 150%; /* 24px */
        
                                        &.active {
                                            opacity: 1;
                                            display: block;
                                            animation: copyAnimate 0.5s ease-in-out forwards;
                                            background-color: var(--color-dark-100);
                                        }
        
                                        @keyframes copyAnimate {
                                            0% {
                                                opacity: 0;
                                            }
                                            100% {
                                                opacity: 1;
                                            }
                                        }
                                    }
                                }
                                button {
                                    cursor: pointer;
                                    .ic-wa {
                                        display: block;
                                        content: url("../img/icon/ic-wa.png");
                                        width: 32px;
                                        height: 32px;
                                        &:hover {
                                            content: url("../img/icon/ic-wa-active.png");
                                        }
                                    }
                                    .ic-fb {
                                        display: block;
                                        content: url("../img/icon/ic-fb.png");
                                        width: 32px;
                                        height: 32px;
                                        &:hover {
                                            content: url("../img/icon/ic-fb-active.png");
                                        }
                                    }
                                    .ic-x {
                                        display: block;
                                        content: url("../img/icon/ic-x.png");
                                        width: 32px;
                                        height: 32px;
        
                                        &:hover {
                                            content: url("../img/icon/ic-x-active.png");
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
