@use "media";
@use "library" as *;
@import "global";

// Molecules
@import "molecules/burger-menu";
@import "molecules/navigation-detail-photo";
@import "molecules/footer-multimedia-photo";
@import "molecules/widget-list-article";

// Atomic
@import "./atomic/sr-only";
@import "./atomic/tags";
@import "./atomic/ads-placement";
@import "atomic/breadcrumb";
@import "atomic/sso-login";
@import "atomic/hidden";
@import "atomic/sticky-ads";
@import "atomic/alert-sso";

#detail-photo,
#detail-infographic {
    .alert-wrapp {
        position: absolute;
        z-index: 9999;
        left: 50%;
        transform: translateX(-50%);
    }
    .mainBody {
        position: relative;
        gap: 0;
        .sideLeft {
            width: 65%;
            position: sticky;
            top: 64px;
            float: left;
            height: calc(100vh - 64px);
            background-color: var(--color-dark-75);
            padding: 36px 32px;
            overflow: hidden;
            &::selection {
                background-color: unset;
                color: unset;
            }
            @include media.ipad {
                position: relative;
                top: 0;
                z-index: 2;
                width: 100vw;
                padding: 18px 16px;
            }
            .headerTools {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 20px;
                a {
                    color: var(--color-white);
                    font-family: Inter, sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    display: flex;
                    align-items: center;
                }
                #fullscreen-btn {
                    cursor: pointer;
                }
            }
            .listImage {
                display: flex;
                overflow: hidden;
                height: calc(70vh - 64px);
                margin-bottom: 2.5vh;
                @include media.ipad {
                    gap: 0;
                    margin-bottom: 54px;
                }
                gap: 10px;
                figure {
                    &.imgWrapper {
                        flex-shrink: 0;
                        width: 100%;
                        height: auto;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        overflow: hidden;
                        gap: 12px;
                        @include media.ipad {
                            gap: 16px;
                            padding: 5px;
                        }
                        .img-container {
                            width: auto;
                            height: calc(60vh - 64px);
                            border-radius: 16px;
                            overflow: hidden;
                            display: flex;
                            justify-content: center;
                            @include media.ipad {
                                overflow: hidden;
                                border-radius: 32px;
                            }
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        #showIndex {
                            color: #a6a6a6;
                            font-family: Inter, sans-serif;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 150%;
                            b {
                                color: var(--color-white);
                            }
                        }
                        figcaption {
                            color: #fff;
                            text-align: center;
                            font-family: Inter, sans-serif;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 150%; /* 21px */
                        }
                    }
                }

                &.adjustHeight {
                    height: calc(95vh - 64px);
                    figure {
                        &.imgWrapper {
                            .img-container {
                                height: calc(80vh - 64px);
                            }
                        }
                    }
                }
            }
            .listThumbImg {
                justify-content: space-between;
                display: none;
                &::selection {
                    background-color: unset;
                    color: unset;
                }
                #prev-img {
                    cursor: pointer;
                    .ic-prev-thumb {
                        display: inline-block;
                        content: url("../img/icon/ic-prev-carousel.svg");
                        width: 42px;
                        height: 42px;
                        opacity: 1;
                    }
                    &:disabled {
                        cursor: not-allowed;
                        .ic-prev-thumb {
                            opacity: 0.3;
                        }
                    }
                }
                #next-img {
                    cursor: pointer;
                    .ic-next-thumb {
                        display: inline-block;
                        content: url("../img/icon/ic-next-carousel.svg");
                        width: 42px;
                        height: 42px;
                        opacity: 1;
                    }
                    &:disabled {
                        cursor: not-allowed;
                        .ic-next-thumb {
                            opacity: 0.3;
                        }
                    }
                }
                .listThumb {
                    display: flex;
                    gap: 8px;
                    list-style: none;
                    width: calc((72px + 8px) * 4);
                    overflow: hidden;
                    &::selection {
                        background-color: unset;
                        color: unset;
                    }
                    .thumb {
                        flex-shrink: 0;
                        &::selection {
                            background-color: unset;
                            color: unset;
                        }
                        &.thumb-active {
                            img {
                                opacity: 1;
                            }
                        }
                        img {
                            opacity: 0.5;
                            object-fit: cover;
                            object-position: center;
                            aspect-ratio: 1/1;
                            border-radius: 10px;
                            &::selection {
                                background-color: unset;
                                color: unset;
                            }
                        }
                    }
                }
            }
        }
        .sideRight {
            position: relative;
            width: 35%;
            height: auto;
            background-color: var(--color-white);
            gap: 0;
            @include media.ipad {
                width: 100%;
            }
            .stickyFeature {
                position: fixed;
                top: 50px;
                z-index: 9;
                padding-top: 16px;
                height: auto;
                width: 35%;
                @include media.ipad {
                    width: 100%;
                }
                background-color: var(--color-white);
                box-shadow: 0px 1px 4px 0px rgba(28, 39, 49, 0.05);
                transform: translateY(-270px);
                transition: transform 0.5s ease-in-out;
                .stikyContent {
                    width: 100%;
                    position: relative;
                    background-color: var(--color-light-50);
                    padding: 8px 16px;
                    .readNext {
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 0 24px;
                        width: 100%;

                        &:hover {
                            .readNextText {
                                color: var(--color-red-75);
                            }
                        }
                        .readNextText {
                            width: 351px;
                            @include media.ipad {
                                width: 80%;
                            }
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 24px;
                            color: var(--color-dark-100);
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        .ic-next-read {
                            content: url("../img/icon/ic-next-read.png");
                            position: relative;
                            width: 32px;
                            height: 32px;
                            &:hover {
                                content: url("../img/icon/ic-next-read-active.png");
                            }
                        }
                    }
                }
                #progressBar {
                    position: fixed;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 4px;
                    background: linear-gradient(90deg, #821b1a 0%, #b91514 50.52%, #761716 100%);
                    transform-origin: 0%;
                    transition: transform 0.5s linear;
                }
            }
            .contentBlocking {
                padding: 24px;
                padding-top: 0;
                background-color: var(--color-white);
                z-index: 2;
                .header {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    margin-bottom: 24px;
                    .title {
                        color: #212121;
                        font-family: Inter-Bold, sans-serif;
                        font-size: clamp(20px, 2.5vw, 28px);
                        font-style: normal;
                        font-weight: 700;
                        line-height: 160%;
                    }
                    .createdAt {
                        color: var(--color-dark-0);
                        font-family: Inter, sans-serif;
                        font-size: clamp(10px, 1.2vw, 14px);
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%; /* 21px */
                    }
                    .authorWrapp {
                        list-style: none;
                        display: flex;
                        flex-direction: column;
                        gap: 16px;
                        .author {
                            a {
                                display: flex;
                                gap: 8px;
                                align-items: center;
                                .authorName {
                                    color: var(--color-dark-50);
                                    font-family: Inter, sans-serif;
                                    font-size: clamp(10px, 1.2vw, 14px);
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 150%; /* 21px */
                                }
                                img {
                                    width: 24px;
                                    height: 24px;
                                    object-fit: cover;
                                    object-position: top center;
                                    overflow: hidden;
                                    border-radius: 50%;
                                }
                                .ic-author-default {
                                    display: inline-block;
                                    content: url("../img/icon/ic-author-default.svg");
                                    width: 24px;
                                    height: 24px;
                                }
                            }
                        }
                    }
                }
                .body {
                    width: 100%;
                    height: auto;
                    p {
                        font-family: Inter, sans-serif;
                        color: var(--color-dark-100);
                        margin-bottom: 24px;
                        font-size: 18px;
                        b {
                            font-family: Inter-Bold, sans-serif;
                            font-weight: 700;
                        }
                        strong {
                            font-weight: 700;
                            a {
                                display: inline-block;
                                color: var(--color-link);
                            }
                        }
                        a {
                            display: inline-block;
                            color: var(--color-link);
                        }
                        img {
                            width: clamp(400px, 100%, 100%);
                            height: auto;
                            border-radius: 18px;
                            object-fit: cover;
                            object-position: center center;
                        }
                    }
                    h5 {
                        width: 100%;
                        height: auto;
                        margin: 24px 0;
                        em {
                            font-family: Inter, sans-serif;
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 18px;
                            color: var(--color-dark-0);
                        }
                        img {
                            width: clamp(400px, 100%, 100%);
                            height: auto;
                            border-radius: 18px;
                            object-fit: cover;
                            object-position: center center;
                        }
                    }
                    div {
                        em {
                            font-family: Inter, sans-serif;
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 18px;
                            color: var(--color-dark-0);
                        }
                        img {
                            width: clamp(400px, 100%, 100%);
                            height: auto;
                            border-radius: 18px;
                            object-fit: cover;
                            object-position: center center;
                        }
                    }
                    figure {
                        width: 100%;
                        height: auto;
                        margin: 24px 0;
                        figcaption {
                            font-family: Inter, sans-serif;
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 18px;
                            color: var(--color-dark-0);
                        }
                        img {
                            width: clamp(400px, 100%, 100%);
                            height: auto;
                            border-radius: 18px;
                            object-fit: cover;
                            object-position: center center;
                        }
                    }
                }
                .pleaseFollow {
                    display: block;
                    margin: 24px 0;

                    font-size: 17px;
                    font-weight: 400;
                    line-height: 27px;
                    a {
                        display: inline-block;
                        color: #ff0000;
                    }
                }
                .widgetListArticle {
                    @include CardArticle(
                        $width: calc((100% - 16px) / 2),
                        $flex-direction: col,
                        $img-height: 96px,
                        $radius: 16px
                    );
                    @include media.ipad {
                        @include CardArticle(
                            $width: calc((100% - 32px) / 3),
                            $flex-direction: col,
                            $img-height: 96px,
                            $radius: 16px
                        );
                    }
                }
            }
            .adsBlocking {
                width: 100%;
                height: 210px;
                z-index: 2;
            }
            .stickyTools {
                position: fixed;
                top: 100vh;
                z-index: 9;
                height: auto;
                width: 35%;
                @include media.ipad {
                    width: 100%;
                }
                background-color: var(--color-white);
                box-shadow: 0px 1px 4px 0px rgba(28, 39, 49, 0.05);
                transform: translateY(46px);
                transition: transform 0.5s ease-in-out;
                .stikyContent {
                    position: relative;
                    background-color: #f6f6f6;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 8px 48px;
                    border-radius: 10px 10px 0px 0px;

                    .resizeFontToggle {
                        position: absolute;
                        left: 55px;
                        top: -44px;

                        width: 191px;
                        height: 37px;
                        border-radius: 37px;
                        background-color: var(--color-red-75);
                        padding: 4px 16px 4px 16px;
                        display: flex;
                        align-items: center;
                        gap: 0 4px;
                        opacity: 0;
                        transition: opacity 0.5s ease-in-out;
                        &.active {
                            opacity: 1;
                        }
                        .toggleResize {
                            transition: opacity 0.5s ease-in-out;
                            position: relative;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            width: 100%;
                            height: 3px;
                            border-radius: 3px;
                            background-color: var(--color-white);
                            #toggle {
                                cursor: grab;
                                width: 15px;
                                height: 15px;
                                border-radius: 50%;
                                background-color: var(--color-white);
                                transition: transform 0.5s ease-in-out;
                            }
                        }
                        button {
                            cursor: pointer;
                            font-weight: 700;
                            color: var(--color-white);
                        }
                        #smallFont {
                            line-height: 24px;
                            font-size: 16px;
                        }
                        #largeFont {
                            font-size: 18px;
                            line-height: 28.8px;
                        }
                    }

                    .resizeFont {
                        cursor: pointer;
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 24px;
                        color: var(--color-red-75);
                    }
                    .like {
                        position: relative;
                        display: flex;
                        align-items: center;
                        margin-left: 24px;
                        gap: 0 4px;
                        #btnLike {
                            cursor: pointer;
                            &.active {
                                .ic-btnlike {
                                    content: url("../img/icon/ic-like-active.png");
                                }
                                &:hover {
                                    .ic-btnlike {
                                        content: url("../img/icon/ic-like-active.png") !important;
                                    }
                                }
                            }
                            &:hover {
                                .ic-btnlike {
                                    content: url("../img/icon/ic-like-pre-active.png");
                                }
                            }
                            .ic-btnlike {
                                transition: all ease-in-out 0.3s;
                                display: block;
                                content: url("../img/icon/ic-like.png");
                                position: relative;
                                width: 25px;
                                height: 25px;
                            }
                        }

                        #likeCount {
                            font-size: 14px;
                            font-weight: 700;
                            line-height: 21px;
                            text-align: center;
                            color: var(--color-dark-100);
                        }
                    }
                    .comment {
                        cursor: pointer;
                        margin-left: 24px;
                        display: flex;
                        align-items: center;
                        gap: 0 4px;
                        .ic-comment {
                            display: block;
                            content: url("../img/icon/ic-comment.png");
                            width: 25px;
                            height: 25px;

                            &:hover {
                                content: url("../img/icon/ic-comment-active.png");
                            }
                        }
                        span {
                            font-size: 14px;
                            font-weight: 700;
                            line-height: 21px;
                            text-align: center;
                            color: var(--color-dark-100);
                        }
                    }
                    .iconShare {
                        display: flex;
                        align-items: center;
                        gap: 0 16px;
                        button {
                            cursor: pointer;
                            .ic-link-share {
                                display: block;
                                content: url("../img/icon/ic-link-share.png");
                                width: 32px;
                                height: 32px;
                                &:hover {
                                    content: url("../img/icon/ic-link-share-active.png");
                                }
                            }
                            #detailPhotoInfo__copied {
                                display: none;
                                opacity: 0;
                                position: absolute;
                                transform: translateY(-80px) translateX(-50px);
                                background-color: var(--color-dark-100);
                                padding: 4px 16px;
                                border-radius: 32px;
                                color: #fff;
                                text-align: center;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 150%; /* 24px */

                                &.active {
                                    opacity: 1;
                                    display: block;
                                    animation: copyAnimate 0.5s ease-in-out forwards;
                                }

                                @keyframes copyAnimate {
                                    0% {
                                        opacity: 0;
                                    }
                                    100% {
                                        opacity: 1;
                                    }
                                }
                            }
                            .ic-wa {
                                display: block;
                                content: url("../img/icon/ic-wa.png");
                                width: 32px;
                                height: 32px;
                                &:hover {
                                    content: url("../img/icon/ic-wa-active.png");
                                }
                            }
                            .ic-fb {
                                display: block;
                                content: url("../img/icon/ic-fb.png");
                                width: 32px;
                                height: 32px;
                                &:hover {
                                    content: url("../img/icon/ic-fb-active.png");
                                }
                            }
                            .ic-x {
                                display: block;
                                content: url("../img/icon/ic-x.png");
                                width: 32px;
                                height: 32px;

                                &:hover {
                                    content: url("../img/icon/ic-x-active.png");
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #fullscreen-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-dark-75);
        display: none;
        justify-content: center;
        align-items: center;
        gap: 18px;
        z-index: 1000;
        padding: 50px;
        .fullscreen-img-wrapper {
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            &::selection {
                background-color: unset;
                color: unset;
            }
            #content-area {
                display: flex;
                overflow: hidden;
                height: 100%;
                width: 100%;
                &::selection {
                    background-color: unset;
                    color: unset;
                }
                figure {
                    &.imgWrapper {
                        flex-shrink: 0;
                        width: 100%;
                        height: auto;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        overflow: hidden;
                        gap: 12px;
                        &::selection {
                            background-color: unset;
                            color: unset;
                        }
                        .img-container {
                            width: auto;
                            height: 90%;
                            img {
                                width: auto;
                                height: 100%;
                                object-fit: contain;
                                object-position: top center;
                                overflow: hidden;
                                border-radius: 16px;
                                &::selection {
                                    background-color: unset;
                                    color: unset;
                                }
                            }
                        }
                        #showIndex {
                            color: #a6a6a6;
                            b {
                                color: var(--color-white);
                            }
                        }
                        figcaption {
                            text-align: center;
                            color: #fff;
                            font-family: Inter, sans-serif;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 150%; /* 21px */
                        }

                        @include media.ipad {
                            justify-content: center;
                            .img-container {
                                width: auto;
                                height: 90%;
                                display: flex;
                                align-items: center;
                                overflow: hidden;
                                border-radius: 16px;
                                img {
                                    width: 100%;
                                    height: auto;
                                }
                                @media (orientation: landscape) { 
                                    img {
                                        width: auto;
                                        height: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            button {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
                &::selection {
                    background-color: unset;
                    color: unset;
                }
                &#prev-fullscreen-btn {
                    left: 0;
                    .ic-prev-fullscreen {
                        display: inline-block;
                        content: url("../img/icon/ic-prev-carousel.svg");
                        width: 42px;
                        height: 42px;
                        opacity: 1;
                        &::selection {
                            background-color: unset;
                            color: unset;
                        }
                    }
                    &:disabled {
                        cursor: not-allowed;
                        .ic-prev-fullscreen {
                            opacity: 0.3;
                        }
                    }
                }
                &#next-fullscreen-btn {
                    right: 0;
                    cursor: pointer;
                    .ic-next-fullscreen {
                        display: inline-block;
                        content: url("../img/icon/ic-next-carousel.svg");
                        width: 44px;
                        height: 44px;
                        opacity: 1;
                        &::selection {
                            background-color: unset;
                            color: unset;
                        }
                    }
                    &:disabled {
                        cursor: not-allowed;
                        .ic-next-fullscreen {
                            opacity: 0.3;
                        }
                    }
                }
            }
        }
        .fullscreen-tools {
            display: flex;
            flex-direction: column;
            width: max-content;
            height: 100%;
            gap: 172px;
            &::selection {
                background-color: unset;
                color: unset;
            }
            #exit-fullscreen-btn {
                cursor: pointer;
                img {
                    width: 24px;
                    height: 24px;
                }
            }
            .iconShare__fullscreen {
                width: 100%;
                height: auto;
                padding: 12px 4px;
                border-radius: 8px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 4px;
                background-color: #eaeaea;
                button {
                    .ic-link-share {
                        display: block;
                        content: url("../img/icon/ic-link-share.png");
                        width: 32px;
                        height: 32px;
                        &:hover {
                            content: url("../img/icon/ic-link-share-active.png");
                        }
                    }
                    #detailPhotoInfo__copied2 {
                        display: none;
                        opacity: 0;
                        width: max-content;
                        position: absolute;
                        transform: translateX(-140px) translateY(-30px);
                        background-color: var(--color-dark-100);
                        padding: 4px 16px;
                        border-radius: 32px;
                        color: #fff;
                        text-align: center;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 150%; /* 24px */

                        &.active {
                            opacity: 1;
                            display: block;
                            animation: copyAnimate 0.5s ease-in-out forwards;
                        }

                        @keyframes copyAnimate {
                            0% {
                                opacity: 0;
                            }
                            100% {
                                opacity: 1;
                            }
                        }
                    }
                    .ic-wa {
                        display: block;
                        content: url("../img/icon/ic-wa.png");
                        width: 32px;
                        height: 32px;
                        &:hover {
                            content: url("../img/icon/ic-wa-active.png");
                        }
                    }
                    .ic-fb {
                        display: block;
                        content: url("../img/icon/ic-fb.png");
                        width: 32px;
                        height: 32px;
                        &:hover {
                            content: url("../img/icon/ic-fb-active.png");
                        }
                    }
                    .ic-x {
                        display: block;
                        content: url("../img/icon/ic-x.png");
                        width: 32px;
                        height: 32px;

                        &:hover {
                            content: url("../img/icon/ic-x-active.png");
                        }
                    }
                }
            }
        }
    }
}
