@use "media";
@use "global" as *;

.widgetNewsTV {
    position: relative;
    background-color: #171717;
    width: 100%;
    height: clamp(280px, 34vw, 315px);
    border-radius: 16px 16px;
    overflow: hidden;
    &__body {
        position: relative;
        width: 100%;
        height: calc(100% - 68px);
        padding: 19px 16px 18px 24px;
        display: flex;
        gap: 24px;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            z-index: 0;
            width: 248px;
            height: 100%;
            background: linear-gradient(138.98deg, #1e1e1e 29.97%, #343434 70.69%);
        }
        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            z-index: 0;
            width: 248px;
            height: 100%;
            background: {
                image: url("../img/indonesia-dot-pattern.png");
                position: center center;
                size: contain;
                repeat: no-repeat;
            }
        }
        &__title {
            position: relative;
            height: 100%;
            width: max-content;
            padding-top: 30px;
            flex-shrink: 0;
            img {
                position: relative;
                z-index: 1;
            }
            &__link {
                width: max-content;
                border-radius: 20px;
                position: absolute;
                bottom: 0;
                z-index: 1;
                padding: 8px 24px;
                background-color: var(--color-red);
                color: var(--color-white);

                &:hover {
                    background-color: var(--color-red-100);
                    color: var(--color-white);
                    transition: background-color 0.3s ease-in-out;
                }
            }
        }
        &__listCard {
            position: relative;
            width: 100%;
            height: 100%;
            z-index: 1;
            display: flex;
            gap: 16px;

            article {
                &.cardArticle {
                    position: relative;
                    width: calc(100% / 4 - 11px);
                    height: clamp(160px, 19vw, 210px);
                    background-color: var(--color-white);
                    padding: 8px;
                    border-radius: 8px;
                    a {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                        &:hover {
                            .cardImg {
                                .thumbCard {
                                    transform: scale(1.03);
                                }
                            }
                            .cardBody {
                                .cardTitle {
                                    color: var(--color-red);
                                }
                            }
                        }
                        .cardImg {
                            flex-shrink: 0;
                            position: relative;
                            width: 100%;
                            height: clamp(80px, 10vw, 120px);
                            overflow: hidden;
                            border-radius: 4px;
                            @include media.mobile {
                                height: 90px;
                            }
                            .thumbCard {
                                transition: transform 0.3s ease-in-out;
                                width: 100%;
                                height: 100%;
                                aspect-ratio: 5/3.5;
                                object-fit: cover;
                                object-position: center top;
                            }
                            .ic-video,
                            .ic-img,
                            .ic-pie-chart {
                                position: absolute;
                                top: 11px;
                                left: 11px;
                                width: 24px;
                                height: 24px;
                            }
                            .ic-video {
                                content: url("../img/icon/ic-video-post.png");
                            }
                            .ic-img {
                                content: url("../img/icon/ic-img-post.png");
                            }
                            .ic-pie-chart {
                                content: url("../img/icon/ic-multi-post.png");
                            }
                        }
                        .cardBody {
                            display: flex;
                            flex-direction: column;
                            gap: 8px;
                            .kanalAndTime {
                                display: flex;
                                justify-content: space-between;
                                width: 100%;
                                .kanal,
                                .postTime {
                                    font-size: clamp(8px, 1.5vw, 14px);
                                    color: var(--color-red);
                                    font-style: normal;
                                    font-weight: 700;
                                    line-height: 150%;
                                }
                                .postTime {
                                    font-weight: 400;
                                    color: var(--color-dark-0);
                                }
                            }
                            .cardTitle {
                                color: var(--color-dark-75);
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                -webkit-line-clamp: 3;
                                text-overflow: ellipsis;
                                overflow: hidden;
                            }
                        }
                    }
                }
            }
        }
    }
    &__footer {
        position: relative;
        width: 100%;
        height: 68px;
        padding: 0 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1;
        &::before {
            content: "";
            z-index: 0;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: {
                color: #171717;
                image: url("../img/object-pattern--inews-tv-widget.png");
                position: center center;
                size: cover;
                repeat: no-repeat;
            }
            opacity: 0.2;
        }
        background: linear-gradient(90deg, #2d2d2a 8.64%, #171717 100%);
        &__text {
            position: relative;
            z-index: 1;
            color: var(--color-white);
            font-size: 20px;
            font-family: Inter-Bold, sans-serif;
            font-style: normal;
            line-height: 30px;
            display: flex;
            align-items: center;
            gap: 10px;

            &::before {
                position: relative;
                content: "";
                display: inline-block;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: var(--color-red);
                border: 4px solid var(--color-white);
                outline: 2px solid var(--color-red);
            }
        }
        .ic-play-widget {
            position: relative;
            z-index: 1;
            content: url("../img/icon/ic-play-inews-tv.png");
            width: 36px;
            height: 36px;
        }
    }
}
