nav.nav__main {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 99;
  background-color: #fff;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.12);
}
nav.nav__main.sticky {
  position: fixed;
  top: 46px;
  left: 0;
}
nav.nav__main.sticky .container {
  margin-bottom: 0;
}
nav.nav__main .container {
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 20px;
  overflow-y: hidden;
  transition: height 0.3s ease-in-out;
}
nav.nav__main .container.dropDown {
  height: 80px;
}
nav.nav__main .container .navList {
  padding: 8px 24px 0px 24px;
  border-radius: 8px 8px 0px 0px;
  transition: background-color 0.3s ease-in-out;
}
nav.nav__main .container .navList:has(.navLink-active) {
  background-color: #fafafa;
}
nav.nav__main .container .navList:hover .navLink::after {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}
nav.nav__main .container .navList:hover {
  background-color: #fafafa;
}
nav.nav__main .container .navList .navLink {
  position: relative;
  overflow-y: hidden;
  padding-bottom: 8px;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #8c8c8c;
}
nav.nav__main .container .navList .navLink::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 4px 4px 0px 0px;
  background-color: #d80605;
  transform: translateY(8px);
  transition: all 0.3s ease-in-out;
}
nav.nav__main .container .navList .navLink:focus {
  color: #212121;
}
nav.nav__main .container .navList .navLink:focus::after {
  transform: translateY(0);
}
nav.nav__main .container .navList .navLink.navLink-active {
  color: #212121;
}
nav.nav__main .container .navList .navLink.navLink-active::after {
  transform: translateY(0);
}
nav.nav__main .container .ic-dropdown-kanal {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 18px;
  content: url("../img/icon/ic-dropdown-kanal.png");
  width: 16.667px;
  height: 8.333px;
  transform: scaleY(1);
  transition: transform 0.3s ease-in-out;
}
@media screen and (max-width: 1365px) {
  nav.nav__main .container .ic-dropdown-kanal {
    right: 5%;
  }
}
nav.nav__main .container .ic-dropdown-kanal.dropDown {
  transform: scaleY(-1);
}

article.headline__tv .headlineTitle__tv {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
article.headline__tv .headlineTitle__tv h3 {
  position: relative;
}
article.headline__tv .headlineTitle__tv h3::before {
  display: inline-block;
  content: url("../img/icon/ic-news-tv-title.png");
  width: 17.5px;
  height: 17.5px;
  margin-right: 10px;
  position: relative;
  top: 3px;
}
article.headline__tv .video__tv {
  aspect-ratio: 16/9;
  border-radius: 20px;
  margin-bottom: 21px;
}
article.headline__tv .schedule__tv {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 28px 0;
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}
article.headline__tv .schedule__tv .scheduleWrapper {
  display: flex;
  width: 100%;
  scrollbar-width: none;
  scroll-behavior: smooth;
  height: 146px;
  overflow-x: scroll;
  border-radius: var(--Radius-md, 8px);
  border: 1px solid var(--Neutral-600, #f6f6f6);
  background: var(--Neutral-500, #f9f9f9);
  cursor: move;
}
article.headline__tv .schedule__tv .scheduleWrapper .schaduleList {
  flex: 0 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 240px;
  padding: 14px 28px 12px;
  border-top: 1px solid #990100;
  margin-top: 24px;
}
article.headline__tv .schedule__tv .scheduleWrapper .schaduleList:first-child {
  margin-left: 10px;
}
article.headline__tv .schedule__tv .scheduleWrapper .schaduleList:last-child {
  margin-right: 10px;
}
article.headline__tv .schedule__tv .scheduleWrapper .schaduleList.active::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -12px;
  left: 0;
  right: 0;
  margin: auto;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #990100;
  border: none;
}
article.headline__tv .schedule__tv .scheduleWrapper .schaduleList.active .schaduleTitle {
  font-weight: 700;
}
article.headline__tv .schedule__tv .scheduleWrapper .schaduleList::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: -12px;
  left: 0;
  right: 0;
  margin: auto;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #990100;
}
article.headline__tv .schedule__tv .scheduleWrapper .schaduleList::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -11px;
  left: 0;
  right: 0;
  margin: auto;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #990100;
  border: 2px solid #fff;
}
article.headline__tv .schedule__tv .scheduleWrapper .schaduleList .schaduleTime {
  text-align: center;
  color: #212121;
}
article.headline__tv .schedule__tv .scheduleWrapper .schaduleList .schaduleTime::-moz-selection {
  /* Code for Firefox */
  color: #e9e9e9;
  background: transparent;
}
article.headline__tv .schedule__tv .scheduleWrapper .schaduleList .schaduleTime::selection {
  background: transparent;
}
article.headline__tv .schedule__tv .scheduleWrapper .schaduleList .schaduleTitle {
  text-align: center;
  font-size: 18px;
  color: #212121;
}
article.headline__tv .schedule__tv .scheduleWrapper .schaduleList .schaduleTitle::-moz-selection {
  /* Code for Firefox */
  color: #e9e9e9;
  background: transparent;
}
article.headline__tv .schedule__tv .scheduleWrapper .schaduleList .schaduleTitle::selection {
  background: transparent;
}
article.headline__tv .desc__tv {
  font-size: clamp(14px, 1.5vw, 18px);
  line-height: 160%;
}/*# sourceMappingURL=page-detail-news-tv.css.map */