#index-page .mainBody .currentTitle {
  width: 100%;
  color: #000;
  font-family: Inter-Bold, sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 44.8px */
  margin-bottom: 23px;
}
#index-page .mainBody aside.sideLeft .listMenuIndex {
  width: auto;
  height: auto;
  border-radius: 16px;
  background-color: var(--color-light-75);
  list-style: none;
}
#index-page .mainBody aside.sideLeft .listMenuIndex .listMenu {
  padding: 12px 20px;
  border-bottom: 1px solid var(--color-light-25);
}
#index-page .mainBody aside.sideLeft .listMenuIndex .listMenu:last-child {
  border-bottom: unset;
}
#index-page .mainBody aside.sideLeft .listMenuIndex .listMenu a {
  color: var(--color-black);
  font-family: Inter-Bold, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 28.8px */
  transition: color 0.3s ease-in-out;
}
#index-page .mainBody aside.sideLeft .listMenuIndex .listMenu:hover a {
  color: var(--color-maroon);
}
#index-page .mainBody aside.sideLeft .listMenuIndex .listMenu.active a {
  color: var(--color-maroon);
}
#index-page .mainBody main.sideRight .indexControl {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: space-between;
}
#index-page .mainBody main.sideRight .indexControl .selectControl {
  position: relative;
  background-color: var(--color-white);
}
#index-page .mainBody main.sideRight .indexControl .selectControl #select-kanal,
#index-page .mainBody main.sideRight .indexControl .selectControl #date-input {
  cursor: pointer;
  width: clamp(170px, 19vw, 244px);
  padding: 8px 16px;
  border-radius: 32px;
  border: 1px solid var(--color-dark-0);
  box-shadow: 0px 6px 12px 0px rgba(28, 39, 49, 0.05);
  background-color: transparent;
  color: #000;
  font-family: Inter, sans-serif;
  font-size: clamp(14px, 1.5vw, 20px);
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
}
#index-page .mainBody main.sideRight .indexControl .selectControl #date-input::-webkit-calendar-picker-indicator {
  display: none;
}
#index-page .mainBody main.sideRight .indexControl .selectControl #date-input::-webkit-datetime-edit-text {
  position: relative;
  color: transparent;
  border-bottom: 2px solid #000;
  top: -10px;
  margin: 0 3px;
}
#index-page .mainBody main.sideRight .indexControl .selectControl #date-input::-webkit-datetime-edit-year-field {
  padding: 2px;
  color: #000;
}
#index-page .mainBody main.sideRight .indexControl .selectControl #date-input::-webkit-datetime-edit-month-field {
  padding: 0 4px;
  color: #000;
}
#index-page .mainBody main.sideRight .indexControl .selectControl #date-input::-webkit-datetime-edit-day-field {
  color: #000;
  padding: 2px;
}
#index-page .mainBody main.sideRight .indexControl .selectControl .kalender {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 10;
  margin-top: 13px;
  border-radius: 15.625px;
  border: 1px solid var(--color-grey-100);
  background: var(--color-white);
}
#index-page .mainBody main.sideRight .indexControl .selectControl .kalender .kalendar-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 14px 20px;
  border-bottom: 1px solid #dcdcdc;
}
#index-page .mainBody main.sideRight .indexControl .selectControl .kalender .kalendar-nav .kalendar-nav-month {
  color: #000;
  font-family: Inter-Bold, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#index-page .mainBody main.sideRight .indexControl .selectControl .kalender .kalendar-nav .kalendar-nav-buttons-wrapp {
  display: flex;
  gap: 7.5px;
}
#index-page .mainBody main.sideRight .indexControl .selectControl .kalender .kalendar-nav .kalendar-nav-buttons-wrapp button {
  cursor: pointer;
}
#index-page .mainBody main.sideRight .indexControl .selectControl .kalender table {
  border-collapse: collapse;
  width: 100%;
}
#index-page .mainBody main.sideRight .indexControl .selectControl .kalender table thead tr {
  display: flex;
  justify-content: space-around;
}
#index-page .mainBody main.sideRight .indexControl .selectControl .kalender table thead tr th {
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#index-page .mainBody main.sideRight .indexControl .selectControl .kalender table tbody {
  display: flex;
  flex-direction: column;
  gap: 9.5px;
  margin-top: 9.5px;
}
#index-page .mainBody main.sideRight .indexControl .selectControl .kalender table tbody tr {
  margin: 0 9px;
  display: flex;
  gap: 9.5px;
}
#index-page .mainBody main.sideRight .indexControl .selectControl .kalender table tbody tr td {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  cursor: pointer;
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 12.5px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 50%;
}
#index-page .mainBody main.sideRight .indexControl .selectControl .kalender table tbody tr td:hover {
  background-color: var(--color-red-light);
  font-size: 16px;
}
#index-page .mainBody main.sideRight .indexControl .selectControl .kalender table tbody tr td.selected {
  background-color: var(--color-maroon-100);
  font-size: 16px;
  color: var(--color-white);
}
#index-page .mainBody main.sideRight .indexControl .selectControl .kanal-list {
  position: absolute;
  z-index: 2;
  width: clamp(200px, 25vw, 244px);
  cursor: pointer;
  margin-top: 13px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px 0;
  border-radius: 16px;
  border: 1px solid var(--color-dark-0);
  background: var(--color-white);
  box-shadow: 0px 6px 12px 0px rgba(28, 39, 49, 0.05);
}
#index-page .mainBody main.sideRight .indexControl .selectControl .kanal-list .listItem {
  padding: 0 16px;
  color: var(--color-dark-75);
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
  transition: background-color 0.3s ease-in-out, color 0.2s ease-in-out 0.1s;
}
#index-page .mainBody main.sideRight .indexControl .selectControl .kanal-list .listItem.active {
  background-color: var(--color-maroon-25);
  color: var(--color-white);
}
#index-page .mainBody main.sideRight .indexControl .selectControl .kanal-list .listItem:hover {
  background-color: var(--color-maroon-25);
  color: var(--color-white);
}
#index-page .mainBody main.sideRight .indexControl .selectControl .ic-kanal-dropdown {
  cursor: pointer;
  position: absolute;
  right: 16px;
  top: 10px;
  z-index: 1;
}
#index-page .mainBody main.sideRight .indexControl #applyBtn {
  cursor: pointer;
  background-color: var(--color-maroon-25);
  color: var(--color-white);
  padding: 12px 32px;
  border-radius: 32px;
  font-family: Inter-Bold, sans-serif;
  font-size: clamp(12px, 1.5vw, 16px);
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
  margin-left: clamp(6px, 2.5vw, 60px);
  transition: background-color 0.3s ease-in-out;
}
#index-page .mainBody main.sideRight .indexControl #applyBtn:hover {
  background-color: var(--color-red-0);
}/*# sourceMappingURL=page-index.css.map */