.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background: #f9f9f9;
  padding: 8px 20px;
}
.pagination label {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  font-style: normal;
  color: #242424;
}
.pagination .paginationContent {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0 8px;
}
.pagination .paginationContent .pageList {
  width: 24px;
  height: 24px;
}
.pagination .paginationContent .pageList a {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-grey-75);
  text-align: center;
  transition: color 0.2s ease-in-out;
}
.pagination .paginationContent .pageList.active {
  background-color: var(--color-red-75);
  border-radius: 50%;
}
.pagination .paginationContent .pageList.active a {
  color: var(--color-white);
}
.pagination .paginationContent .pageList:hover {
  background-color: var(--color-red-75);
  border-radius: 50%;
}
.pagination .paginationContent .pageList:hover a {
  color: var(--color-white);
}
.pagination .paginationContent .showAll a {
  border-radius: 32px;
  border: 1px solid #171717;
  padding: 4px 16px;
  transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out, color 0.2s ease-in-out;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  color: var(--color-dark-100);
}
.pagination .paginationContent .showAll a:hover {
  background-color: var(--color-red);
  border: 1px solid var(--color-red);
  color: var(--color-white);
}
.pagination .paginationContent li .prev,
.pagination .paginationContent li .next {
  line-height: 12px;
}
.pagination .paginationContent li .prev .ic-prev {
  content: url("../img/icon/ic-arrow-left.png");
  width: 9px;
  height: auto;
}
.pagination .paginationContent li .prev .ic-prev-active {
  content: url("../img/icon/ic-arrow-left-active.png");
  width: 9px;
  height: auto;
}
.pagination .paginationContent li .next .ic-next-active {
  content: url("../img/icon/ic-arrow-right-active.png");
  width: 9px;
  height: auto;
}
.pagination .paginationContent li .next .ic-next {
  content: url("../img/icon/ic-arrow-right.png");
  width: 9px;
  height: auto;
}

#tag-page .responseTagWrapp {
  position: relative;
}
#tag-page .responseTagWrapp .tagKey {
  display: block;
  color: #171717;
  font-family: Inter-Bold, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}
#tag-page .responseTagWrapp .tagInfo {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}
#tag-page .responseTagWrapp .tagInfo .showFor {
  width: calc(32% - 20px);
  color: #171717;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#tag-page .responseTagWrapp .tagInfo .showFor #keyWord {
  font-family: Inter-Bold, sans-serif;
  font-weight: 700;
}
#tag-page .responseTagWrapp .tagInfo .totalResults {
  color: #171717;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#tag-page .filterTag {
  position: sticky;
  top: 120px;
  border-radius: 16px;
  border: 1px solid var(--color-light-0);
  background: #f9f9f9;
  padding: 20px;
}
#tag-page .filterTag .header {
  margin-bottom: 32px;
  color: #000;
  font-family: Inter-Bold, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 28.8px */
}
#tag-page .filterTag .body {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
#tag-page .filterTag .body .listFilter {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px;
  color: #1f1f1f;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}
#tag-page .filterTag .body .listFilter::before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  outline: 2px solid #1f1f1f;
  background-color: transparent;
  border: 4px solid #f9f9f9;
}
#tag-page .filterTag .body .listFilter.list-active::before {
  border: 4px solid #f9f9f9;
  background-color: var(--color-maroon-25);
}/*# sourceMappingURL=page-tag.css.map */