.ads-970x250 {
    position: relative;
    padding: 27px;
    padding-top: 24px;
    width: clamp(400px, 100%, 1024px);
    height: 298px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $color-light-100;
    border-radius: 20px;
    margin: 0 auto;
    margin-bottom: 24px;
    overflow: hidden;
    figcaption {
        position: absolute;
        top: 2px;
        text-align: center;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        color: $color-gray-100;
    }
    img {
        width: clamp(400px, 100%, 970px);
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}
