.asideAds {
    margin-top: 20px;
    position: relative;
    width: 300px;
    min-height: 250px;

    &.ads-600x300{
        height: 600px;
    }
    @include media.ipad {
        width: 100%;
    }
    background-color: var(--color-light-0);
    display: flex;
    justify-content: center;
    align-items: start;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
    figcaption {
        position: absolute;
        top: -18px;
        width: 100%;
        border-radius: 24px 24px 0 0;
        align-self: center;
        text-align: center;
        font-family: Inter, sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        color: #525252;
        background-color: var(--color-light-50);
    }
}
