.breadcrumb {
    margin: 24px 0;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: var(--color-grey-75);
    gap: 0 4px;
    & > a {
        color: var(--color-grey-75);
    }
    .lastPage {
        cursor: default;
        color: var(--color-dark-0);
    }
}
