@mixin CardArticle(
    $width: 100%,
    $height: 100%,
    $img-width: 100%,
    $img-height: 100%,
    $flex-direction: row,
    $gap: 16px,
    $bg-color: #fff,
    $radius: 20px,
    $paddingCard: 0,
    $radiusCard: 0,
    $kanal-text-size: 12px,
    $title-color: var(--color-dark-75),
    $font-family: Inter,
    $title-hover: var(--color-red)
) {
    article {
        &.cardArticle {
            position: relative;
            width: $width;
            height: $height;
            background-color: $bg-color;
            padding: $paddingCard;
            border-radius: $radiusCard;
            a {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: $flex-direction;
                gap: $gap;
                &:hover {
                    .cardImg {
                        .thumbCard {
                            transform: scale(1.03);
                        }
                    }
                    .cardBody {
                        .kanalAndTime {
                            .kanal {
                                transition: color 0.3s ease-in-out;
                                color: var(--color-maroon-25);
                            }
                        }
                        .cardTitle {
                            transition: color 0.3s ease-in-out;
                            color: $title-hover;
                        }
                    }
                }
                .cardImg {
                    flex-shrink: 0;
                    position: relative;
                    width: $img-width;
                    height: $img-height;
                    overflow: hidden;
                    border-radius: $radius;
                    .thumbCard {
                        transition: transform 0.3s ease-in-out;
                        width: 100%;
                        height: 100%;
                        aspect-ratio: 5/3.5;
                        object-fit: cover;
                        object-position: center top;
                    }
                    .ic-video,
                    .ic-img,
                    .ic-pie-chart {
                        position: absolute;
                        top: 11px;
                        left: 11px;
                        width: 24px;
                        height: 24px;
                    }
                    .ic-video {
                        content: url("../img/icon/ic-video-post.png");
                    }
                    .ic-img {
                        content: url("../img/icon/ic-img-post.png");
                    }
                    .ic-pie-chart {
                        content: url("../img/icon/ic-multi-post.png");
                    }
                }
                .cardBody {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    width: 100%;
                    .kanalAndTime {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        .kanal,
                        .postTime {
                            font-size: clamp(8px, 1.5vw, $kanal-text-size);
                            color: var(--color-red);
                            font-style: normal;
                            font-weight: 700;
                            line-height: 150%;
                        }
                        .postTime {
                            font-weight: 400;
                            color: var(--color-dark-0);
                        }
                    }
                    .cardTitle {
                        font-family: $font-family, sans-serif;
                        color: $title-color;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 3;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
            }
            &.card__multimed {
                a {
                    .cardImg {
                        height: clamp(80px, 11vw, 120px);
                    }
                }
            }
            &.card__headline {
                height: auto;
                a {
                    flex-direction: column;
                    .cardImg {
                        width: 100%;
                        height: clamp(320px, 100%, 489px);
                        .ic-video,
                        .ic-img,
                        .ic-pie-chart {
                            position: absolute;
                            top: 51px;
                            left: 12px;
                            width: 36px;
                            height: 36px;
                        }
                    }
                    .cardBody {
                        .kanalAndTime {
                            .postTime {
                                font-size: clamp(10px, 1vw, 14px);
                            }
                        }
                    }
                }
            }
        }
    }
}
