.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background: #f9f9f9;
    padding: 8px 20px;
    label {
        font-size: 14px;
        line-height: 21px;
        font-weight: 700;
        font-style: normal;
        color: #242424;
    }
    .paginationContent {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 0 8px;

        .pageList {
            width: 24px;
            height: 24px;
            a {
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                color: var(--color-grey-75);
                text-align: center;
                transition: color 0.2s ease-in-out;
            }

            &.active {
                background-color: var(--color-red-75);
                border-radius: 50%;
                a {
                    color: var(--color-white);
                }
            }
            &:hover {
                background-color: var(--color-red-75);
                border-radius: 50%;
                a {
                    color: var(--color-white);
                }
            }
        }
        .showAll {
            a {
                border-radius: 32px;
                border: 1px solid #171717;
                padding: 4px 16px;
                transition:
                    background-color 0.2s ease-in-out,
                    border 0.2s ease-in-out,
                    color 0.2s ease-in-out;

                &:hover {
                    background-color: var(--color-red);
                    border: 1px solid var(--color-red);
                    color: var(--color-white);
                }
                font-size: 14px;
                font-weight: 400;
                line-height: 150%;
                color: var(--color-dark-100);
            }
        }

        li {
            .prev,
            .next {
                line-height: 12px;
            }

            .prev {
                .ic-prev {
                    content: url("../img/icon/ic-arrow-left.png");
                    width: 9px;
                    height: auto;
                }
                .ic-prev-active {
                    content: url("../img/icon/ic-arrow-left-active.png");
                    width: 9px;
                    height: auto;
                }
            }
            .next {
                .ic-next-active {
                    content: url("../img/icon/ic-arrow-right-active.png");
                    width: 9px;
                    height: auto;
                }
                .ic-next {
                    content: url("../img/icon/ic-arrow-right.png");
                    width: 9px;
                    height: auto;
                }
            }
        }
    }
}
