.tags {
    display: flex;
    align-items: start;
    gap: 0 18px;
    margin-top: 32px;
    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        list-style: none;
        .tagList {
            width: auto;
            height: 37px;
            padding: 8px;
            border-radius: 37px;
            border: 1px solid $color-red-75;
            transition: all ease-in-out 0.3s;
            a {
                font-size: 14px;
                line-height: 17px;
                font-weight: 400;
                color: $color-red-75;
                text-align: center;
            }

            &:hover {
                background-color: $color-red-75;
                a {
                    color: $color-light-100;
                }
            }
        }
    }
}
